* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
}

body {
  background-color: #fff;
}

.expenses-list ul {
  list-style-type: none;
}

.category-icon {
  width: 55px;
  height: 55px;
}

.add-button {
  width: 32px;
  height: 32px;
}
