* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-expenses {
  text-align: center;
  margin-top: 20px;
}

.total-expenses h2 {
  font-size: 16px;
  color: gray;
}

.total-expenses h1 {
  font-size: 36px;
  color: black;
}

.expenses-list {
  margin-top: 30px;
}

.expenses-list h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.expenses-list ul {
  list-style-type: none;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.expense-item .icon {
  font-size: 24px;
}

.details {
  flex-grow: 1;
  margin-left: 10px;
}

.category {
  font-size: 16px;
  font-weight: bold;
}

.description {
  font-size: 14px;
  color: gray;
}

.amount {
  font-size: 16px;
  color: red;
}
